body{
    background-color: rgb(216, 216, 216);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
h1{
    font-size: 20rem;
    font-weight: lighter;
    font-style: italic;
    padding: 0;
    margin: 0;
    color:rgb(36, 36, 36);
    text-align:center;
    position:fixed;
    top:10rem;
    z-index: -1;
    background-color: rgb(114, 114, 114);
    border-radius: 10%;
    animation: slider 2s forwards;
}
@keyframes slider {
    0%{
        opacity: 0;
        margin-top:50rem;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        margin-top:unset;
    }
    
}
/* .fade-in{
    opacity: 0;
    transition: opacity 250ms ease-in;

}

.fade-in.appear{
    opacity: 1;
}
 */

p{
    display: inline;
}












input[type="text"]{
 

    background-color: rgb(167, 167, 167);
    border: none;
    outline: none;
    margin-top: 10px;
    width: 10rem;
    height: 2rem;
    border-radius: 5%;
    transition: 0.6s;
    font-size: 1.5rem;

}

input[type="text"]::placeholder{
    color: rgb(255, 255, 255);
}

input[type="text"]:hover{
    width: 45rem;
    background:linear-gradient(to right,rgb(167, 167, 167),rgb(219, 214, 214));
    
}

input[type="text"]:focus{
    position: relative;
    width: 45rem;
    background:linear-gradient(to right,rgb(167, 167, 167),rgb(219, 214, 214));
    
}


#submitButton,#load{
    height: 2rem;
    border-radius: 40%;
    margin-top: 10px;
    border: none;
    background-color: rgb(192, 192, 192);
    

}

.containerText{
    position: fixed;
    z-index: 10;
    top: 0;
    left:20rem;
    width: 40rem;
    display: flex;
    
}




.title{
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

.todolistback{
    width: 95%;
    height:fit-content;
    
    background-position: center;
    background-size: cover;
    background-attachment:scroll;
    position :absolute;
    top:50px;
    left: 2%;
    padding: 0 10px;
    border-radius: 10px;
    
}  


#todolist{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    
    
    
}

#todolist li{
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 48%;
    color:rgb(66, 66, 66);
    border: 5px solid rgb(190, 190, 190);
    

    
}
.left{
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}
@keyframes fadeIn {
    0%{ 
        opacity: 0;
        margin-left:100px;
        
    }
    100%{
        opacity: 1;
        margin-left: unset;
        
    }
}

.right{
    opacity: 0;
    animation: fadeIn2 2s forwards;
}

@keyframes fadeIn2 {
    0%{ 
        opacity: 0;
        transform: scale(0);
        
        
    }
    100%{
        opacity: 1;
        transform: scale(1);
        
    }
}
.Done , .text{
    display: block;
    font-size: 2rem;
    position: relative;
    word-break: break-all;
    border-radius: 10px;
    
}

.text{
    border: none;
    background-color:rgb(211, 211, 211);
}

.Done{
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius:45%;
    background-color:rgb(211, 211, 211) ;
    font-size: 1.3rem;
    color:#3b3b3b
}









    
